*{
    box-sizing:border-box;
    margin: auto;
    padding: 0px;
}

.pag1{
    background-color: red;
    height: 100vh;
    width: 100vw;
}

.pag2{
    background-color: green;
    height: 100vh;
    width: 100vw;
}

.pag3{
    background-color: yellow;
    height: 100vh;
    width: 100vw;
}

